target/
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore files downloaded by the wrapper
/.mvn/wrapper/
# BUT keep tracking of the essential files:
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Quarkus ###
.quarkus/

### Environment variables ###
.env

### Log files ###
*.log
*.log.*